@media only print and (min-width:320px) {

  .flow-text {
    font-weight: 300;
    font-size: 1.632rem;
  }
  .flow-print {
    font-weight: 300;
    font-size: 1.032rem;
  }

  .img{
    position: absolute;
    right:-20px;
  }
  .esconde{
    display: none;
  }

  .rodape{
    position: absolute;
    bottom: 0;
  }


}
