
    <h2 class="flow-text center-align"> Bem-vindo ao Contrate um Aluno</h2>
    <div class="row">
        <form  method="post" action="Controller/Cadastro/CadastroUsuario.php" autocomplete="false">
           <input type="hidden" value='2' name="valor">
            <div class="row ">
                <div class="input-field col s12 m12 l12">
                   <div class="col s12  m6 push-m3">
                       <label for="emailLogin" ><i class='fa fa-user'></i> Digite seu Email</label>
                        <input type="email" id="emailLogin" name="email" class="validate" required >
                   </div>
                </div><br>

            
            
                 <div class="input-field col s12 m12 l12">
                    <div class="col s12 m6 push-m3">
                        
                       <label for="senha"><i class='fa fa-at '></i> Digite sua Senha</label>
                        <input type="password" id="senha" name="senha" class="validate col m12" required>
                    </div>                
                </div><br>

            
            
                <div class="input-field col s12 m12 l12">
                    <div class="col s12 m6 push-m3">

                       <label for="senhaConfirmacao"><i class='fa fa-at'></i> Confirme sua senha</label>
                        <input type="password" id="senhaConfirmacao" name="senha2" class="validate" required>
                    </div>
                </div>
            
            
                <div class="center-align hide-on-med-and-up">
                    <input type="submit" value="Cadastrar" class="btn blue col s12 validar">
                    <a href="" id="fechar" class="btn red abaixo-1 waves-effect waves-light modal-close col s12">Cancelar</a>
                </div>
                <div class="center-align hide-on-small-only">
                    <input type="submit" value="Cadastrar" class="btn blue validar">
                    <a href="" id="fechar" class="btn red waves-effect waves-light modal-close">Cancelar</a>
                </div>
            </div>
            
        </form>
    </div>
    <script>
        $("form").submit(function(e){
                if($("#senha").val().length < 5)
                {
                    Materialize.toast("A senha deve ser maior que 5 dígitos",4000);
                    e.preventDefault();
                    
                    
                }
                if($("#senha").val() != $("#senhaConfirmacao").val())
                {
                    e.preventDefault();
                    Materialize.toast("As senhas estão diferentes",4000);
                }
                
            });
        $("#emailLogin").change(function(){
            
            var valor = $(this).val();
            var error = $(this).next().data('error');
            
            
            
            $.ajax({
                url:"./Controller/ConsultaDados.php",
                method: "POST",
                data: {dado:valor},
                success: function(dado){
                    if(dado == 1){
                        Materialize.toast("Esse email não está disponível",4000);
                        $("#emailLogin").addClass("invalid").removeClass("valid");
                        $(".validar").attr('disabled',true);
                    }
                    else{
                        $(".validar").attr("disabled",false);
                    }
                }
            });
        });
    </script>
    
